<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313821548835-tlob4lmm4t58vdqmifqh4qgs1re753ld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313821548835-tlob4lmm4t58vdqmifqh4qgs1re753ld</string>
	<key>API_KEY</key>
	<string>AIzaSyCjIPnwp1KCTb_HTd6q2ySlBZIo1XQt44o</string>
	<key>GCM_SENDER_ID</key>
	<string>313821548835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junseole.Notice</string>
	<key>PROJECT_ID</key>
	<string>ios-notice</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-notice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313821548835:ios:6445f2396a72952ea33c96</string>
</dict>
</plist>